<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SMS.dao.RoomMapper">
  <resultMap id="BaseResultMap" type="com.SMS.domain.Room">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="dorm" jdbcType="VARCHAR" property="dorm" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="people" jdbcType="INTEGER" property="people" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rid, grade, dorm, remark, people
  </sql>
  <select id="selectByExample" parameterType="com.SMS.domain.RoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_room
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_room
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.SMS.domain.RoomExample">
    delete from t_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.SMS.domain.Room">
    insert into t_room (rid, grade, dorm, 
      remark, people)
    values (#{rid,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, #{dorm,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{people,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.SMS.domain.Room">
    insert into t_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="grade != null">
        grade,
      </if>
      <if test="dorm != null">
        dorm,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="people != null">
        people,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="dorm != null">
        #{dorm,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="people != null">
        #{people,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.SMS.domain.RoomExample" resultType="java.lang.Long">
    select count(*) from t_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

<!--    updateSubmitGrade,跟新提交的寝室本周分数-->
  <update id="updateSubmitGrade">
        update t_room set grade = #{grade } where dorm = #{dorm}
  </update>

  <update id="updateByExampleSelective" parameterType="map">
    update t_room
    <set>
      <if test="record.rid != null">
        rid = #{record.rid,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null">
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
      <if test="record.dorm != null">
        dorm = #{record.dorm,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.people != null">
        people = #{record.people,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_room
    set rid = #{record.rid,jdbcType=INTEGER},
      grade = #{record.grade,jdbcType=INTEGER},
      dorm = #{record.dorm,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      people = #{record.people,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.SMS.domain.Room">
    update t_room
    <set>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="dorm != null">
        dorm = #{dorm,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="people != null">
        people = #{people,jdbcType=INTEGER},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.SMS.domain.Room">
    update t_room
    set grade = #{grade,jdbcType=INTEGER},
      dorm = #{dorm,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      people = #{people,jdbcType=INTEGER}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
</mapper>